body {
  font-family: Arial, sans-serif;
  margin: 2em;
  background: #f9f9f9;
}
h1 {
  color: #2c3e50;
}
button {
  padding: 0.5em 1em;
  font-size: 1em;
}

#submitBtn {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  margin: 10px;
}

#repeatBtn, #exampleBtn {
  background: none;
  border: none;
  padding: 0.3em 0.5em;
  cursor: pointer;
  vertical-align: middle;
  display: none;
}
